:root {
    --bs-primary: #2563EB;
    --bs-dark: #1E293B;
}

html, body { height: 100%; }

body{
  background-color: #F8FAFC;
  color: #0F172A;
  font-family: "Inter", sans-serif;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;    
    text-align: center;
    padding-top: 3rem;
}   

.btn-primary:hover{
    background-color:#1E40AF;
}

h2 {
    margin-top: 40px;
}

.colorblue {
    color: #2563EB;
}

.company{
     color:#0F172A;
}

ul{
    margin-top: 25px;
    list-style: none;
    padding: 0;
}

.align-left{
    text-align: left;
}

footer {
    position: fixed;
    bottom: 5px;
    right: 15px;
    font-size: 0.6rem; /* pequeno */
    color: #6B7280; /* cinza discreto */
    opacity: 0.7;
}

footer:hover{
    opacity: 1;
}

@media (max-width: 576px) {
    footer {
        bottom: 5px;
        right: 10px;
        font-size: 0.45rem;
    }
}